<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @partner.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @partner.lname %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
