<h1>Listing trip_types</h1>

<table>
  <tr>
    <th>Triptype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trip_types.each do |trip_type| %>
  <tr>
    <td><%= trip_type.triptype %></td>
    <td><%= link_to 'Show', trip_type %></td>
    <td><%= link_to 'Edit', edit_trip_type_path(trip_type) %></td>
    <td><%= link_to 'Destroy', trip_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip type', new_trip_type_path %>
